/* Write your CSS here */
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
}
.notfound-img {
  height: 300px;
}
