/* Write your CSS here */
.notFound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  width: 80vw;
  background-size: cover;
}
.page-not-found {
  color: white;
  font-family: 'Bree Serif';
  font-size: 50px;
  font-weight: 500;
}
