/* Write your CSS here */

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  margin-top: 140px;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  background-size: cover;
  height: 290px;
  width: 30%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  font-size: 34px;
  font-weight: 500;
}

.login-btn {
  background-color: #f8fafc;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 90px;
  font-size: 14px;
}
