/* Write your CSS here */
.cart-summary-container {
  width: 270px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .cart-summary-container {
    width: 100%;

    margin-left: 0px;
  }
}

.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 9px;
  align-self: stretch;
  width: 95%;
  margin-right: 15px;
}

.order-total-heading {
  font-size: 23px;
  margin: 0px;
  color: #616e7c;
  width: 100%;
}
.total-cart-price {
  color: #171f46;
}
@media screen and (max-width: 768px) {
  .items-in-cart {
    text-align: left;
    margin-right: 36%;
  }
}

.items-in-cart {
  font-size: 15px;
  margin: 6px 0px 16px;
  font-weight: 500;
  color: #616e7c;
  text-align: left;
  width: 100%;
  padding-left: 0px;
}
